@import 'partials/_vars.scss';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    background: $white;
    line-height: 1.5rem;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color:$blue;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3em;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

.btn {
    padding:.3rem 1.2rem;
    margin-top: 20px;
}

.btn.dark {
    background-color: #232723;
    &:hover {
        background-color: $white;
        color: $dark;
    }
}

.btn.red {
    background-color: $red;
    color: $white;
    &:hover {
        background-color: $dark;
    }
}

nav.menu {
    background-color: $dark;
    height: auto;
    padding: 0 5rem;

    .logo {
        width: 80px;
        padding:1rem;
    }

    .menu-items {

        -webkit-padding-start: 0;

        a {
            color:$white;
        }

        li {
            display: inline-block;
            padding: 0 2rem;
        }

        list-style: none;
    }
}

header.main {
    min-height: 350px;
    background-color:$red;

    h1, h4 {
        color:$white;
    }

    h4 {
        font-weight: 300;
    }

    a {
        color:$white;
    }
}

section {
    .title {
        color:$red;
    }

    .buttons {
        padding-top: 1.25rem;
    }

    .speaker {
        h3, h4, h6, p {
            padding: 0;
            margin: 0;
        }
        margin-top:1.5rem;
        .avatar {
            width: 300px;
            border-radius:50%;
            margin-bottom: 1rem;
        }

        .name, .talk-title, .description {
            margin-bottom: .5rem;
        }

        .name, .talk-title {
            font-weight: 600;
        }

        .name {
            color:$red;
        }

        .talk-title {
            color:$dark;
            font-size: 1rem;
        }

        b {
            font-weight: 600;
        }
    }
}

.venue {
    background-color: $gray;
}

footer {
    color: $white;
    padding: 2rem 5rem;
    background-color: $dark;

    .github {
        font-size:.8rem;
    }
}

@media(max-width:768px) {
    .venue-info {
        padding-bottom: 1.5rem;
    }
}
