@import 'partials/_vars.scss';
@import 'partials/_mixins.scss';
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  background: $white;
  line-height: 1.5rem;
  font-family: 'Open Sans', Sans-Serif;
  overflow-x: hidden;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: $blue;
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3em;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.25rem;
}
.btn {
  padding: 0.3rem 1.2rem;
  margin-top: 20px;
  border-radius: 2px;
}
.btn.dark {
  @include createButton($dark, $white, $white, $dark);
}
.btn.red {
  @include createButton($red, $white, $dark);
}
.btn.green {
  @include createButton(#4CAF50, $white, #388E3C);
}
.btn.blue {
  @include createButton(#2196F3, $white, #1976D2)
}
nav.menu {
  background-color: $dark;
  height: auto;
  padding: 0 5rem;
  .logo {
    width: 80px;
    padding: 1rem;
  }
  .menu-items {
    -webkit-padding-start: 0;
    a {
      color: $white;
    }
    li {
      display: inline-block;
      padding: 0 2rem;
    }
    list-style: none;
  }
}
header.main {
  min-height: 350px;
  background: linear-gradient(rgba(231, 39,52, .8), rgba(231, 39,52, .8)), url(../img/header-bg.jpeg) no-repeat center center;
  background-size: cover;
  h1,
  h4 {
    color: $white;
  }
  h4 {
    font-weight: 300;
  }
  a {
    color: $white;
  }
}
section {
  .title {
    color: $red;
    margin-top: 0;
  }
  .buttons {
    padding-top: 1.25rem;
  }
  .sponsor-logo, .chapter-logo {
    margin-top: 1rem;
    width: 175px;
    display: block;
    height: 175px;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center center;
    span {
      display: none;
    }
  }
  .speaker,
  .organizer {
    h3,
    h4,
    h6,
    p {
      padding: 0;
      margin: 0;
    }
    margin-top: 1.5rem;
    .avatar {
      width: 250px;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
    .name,
    .talk-title,
    .description {
      margin-bottom: 0.5rem;
    }
    .name,
    .talk-title {
      font-weight: 600;
    }
    .name {
      color: $red;
    }
    .talk-title {
      color: $dark;
      font-size: 1rem;
    }
    b {
      font-weight: 600;
    }
  }
}
.about,
.sponsors {
  background-color: $gray;
}
.breadcrumb {
  background-color: $red;
  padding: 0.5rem 5rem;
  color: $white;
}
footer {
  color: $white;
  padding: 2rem 5rem;
  background-color: $dark;
  .github {
    font-size: 0.8rem;
  }
  .logo {
    width: 75px;
    margin-bottom: 0.75rem;
  }
  .social {
    .icon {
      width: 20px;
      height: 20px;
      padding: 0.2rem;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.icon-member {
  width: 20px;
  height: 20px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: $red;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
}
@media(max-width:768px) {
  .about-info {
    padding-bottom: 1.5rem;
  }
}
