<section class="info">
    <div class="wrap row">
        <div class="col-xs-12 center-xs">
            <h2 class="title">Info</h2>
        </div>

        <section class="col-xs-12 col-md-6">
            <h4>Come to BarcelonaJS</h4>
            <h4>Join Us!</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur elit
            </p>
            <div class="row buttons">
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="btn red">Join Us</a>
                </div>
                <div class="col-xs-6 col-md-4">
                    <a href="#" class="btn red">Calendar</a>
                </div>
            </div>

            <h4>Where?</h4>
        </section>

        <section class="col-xs-12 col-md-6">
            <h4>Previous Events</h4>
        </section>
    </div>
</section>
