<section class="talks">
  <div class="wrap center-xs">
    <h2 class="title">Talks</h2>
    <div class="row center-xs">
      {{#each nextEvent.talks}}
        <article class="speaker col-xs-12 col-md-6">
          <img class="avatar" src="{{performer.image}}">
          <h4 class="name">{{performer.name}}</h4>
          <h6 class="talk-title">{{title}}</h6>
          <p class="description">
            {{description}}
            <br>
            <b>Language</b>: <span class="language">{{inLanguage}}</span>
          </p>
          <a href="https://twitter.com/{{performer.twitter}}">
          <img src="assets/img/icons/twitter.svg" class="icon-member">
        </a>
        </article>
      {{/each}}
    </div>
  </div>
</section>
