<section class="venue">
    <div class="wrap row">
        <article class="venue-info col-xs-12 col-sm-4">
            <h4>For Everyone</h4>
            <p>We think coding is awesome and everyone should feel welcome at our event. This includes that we are expecting all participants to be awesome to each other and respect the Code of Conduct.</p>
        </article>
        <article class="venue-info col-xs-12 col-sm-4">
            <h4>For Everyone</h4>
            <p>We think coding is awesome and everyone should feel welcome at our event. This includes that we are expecting all participants to be awesome to each other and respect the Code of Conduct.</p>
        </article>
        <article class="venue-info col-xs-12 col-sm-4">
            <h4>For Everyone</h4>
            <p>We think coding is awesome and everyone should feel welcome at our event. This includes that we are expecting all participants to be awesome to each other and respect the Code of Conduct.</p>
        </article>
    </div>
</section>
